.register-card {
    border: 2px solid;
    background-color: $light-color;
    max-width: 300px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;

    &-header {
        margin-bottom: 40px;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        background-color: $secondary-color;
        color: $light-color;
    }

    &-body {
        margin-bottom: 40px;
        padding: 10px;
        color: $dark-color;
    }

    &-input {
        margin-bottom: 20px;
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;

        button {
            background-color: $secondary-color;
            border: none;
        }

        button:hover {
            background-color: $dark-color;
        }
    }
}
