.task-card {
    margin: 0 20px 30px;
    width: 280px;
    border-radius: 5px;
    color: $dark-color;
    background-color: $light-color;

    &-title {
        text-align: center;
        padding: 5px 14px 0;
        margin-bottom: 10px;
        border-bottom: 2px solid $dark-color;
    }

    &-details {
        display: flex;
        flex-direction: row;
        padding: 0 20px;
        p:last-child {
            margin-left: 10px;
        }
    }

    &-actions {
        margin-bottom: 30px;
        padding-top: 20px;
        text-align: center;

        button {
            width: 80%;
            border: 2px solid $black;
            border-radius: 5px;
            padding: 10px;
            background-color: $danger-color;
        }
    }
}

.even {
    .task-card-title {
        color: $light-color;
        background-color: $highlight-color;
    }
}

.odd {
    .task-card-title {
        color: $light-color;
        background-color: $secondary-color;
    }
}
