.item {
    border: 2px solid $black;
    margin-bottom: 30px;

    &-card {
        position: relative;
        
        padding: 20px;

        h3 {
            text-align: center;
            margin-bottom: 40px;
        }

        .toggle {
            position: absolute;
            bottom: 50px;
            right: 100px;
            padding-top: 10px;
            &-button {
                position: absolute;
                width: 90px;
                height: 40px;
                padding: 5px;
                border: none;
                border-radius: 22px;
                &-completed {
                    background-color: $black;
                    span {
                        position: absolute;
                        top: 9px;
                        left: 6px;
                        width: 22px;
                        height: 22px;
                        background-color: white;
                        border-radius: 22px;
        
                        &::before {
                            content: "Done";
                            position: absolute;
                            left: 34px;
                            top: 0px;
                            color: $white;
                        }
                    }
                }
                &-done {
                    background-color: rgb(173, 169, 169);
                    span {
                        position: absolute;
                        top: 9px;
                        left: 62px;
                        width: 22px;
                        height: 22px;
                        background-color: white;
                        border-radius: 22px;
        
                        &::before {
                            content: "Undone";
                            position: absolute;
                            left: -54px;
                            top: 0px;
                            color: $black;
                        }
                    }
                }
            }
        }


        
    }
}
