

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-color: #0f0e17;
$highlight-color: #ff8906;
$light-color: #fffffe;
$secondary-color: #f25f4c;
$danger-color: #e53170;
$gray: #a7a9be;


